extends layout

block content
	h1.title-header Latest News
	hr
	each newss in news.orderBy('date', 'desc').slice(0, 10)
		.news-item
			h2.news-title
				a(href=newss.permalink)= newss.title
			p
				| Published:
				date= dateFormat(newss.date, 'dddd, LL')
			p
				img.img-responsive(src=newss.banner)
			p= newss.shortdesc
			p
				a(href=newss.permalink) Read More

